[submodule "themes/Saude"]
	path = themes/Saude
	url = https://github.com/EscolaDeSaudePublica/saude
[submodule "plugins/LocationStateCity"]
	path = plugins/LocationStateCity
	url = https://github.com/EscolaDeSaudePublica/plugin-LocationStateCity.git
[submodule "plugins/EvaluationMethodHomolog"]
	path = plugins/EvaluationMethodHomolog
	url = https://github.com/EscolaDeSaudePublica/plugin-EvaluationMethodHomolog
[submodule "plugins/EvaluationMethodTechnicalNa"]
	path = plugins/EvaluationMethodTechnicalNa
	url = https://github.com/EscolaDeSaudePublica/plugin-EvaluationMethodTechnicalNa
[submodule "plugins/PDFReport"]
	path = plugins/PDFReport
	url = https://github.com/EscolaDeSaudePublica/plugin-PDFReport
[submodule "plugins/SealCertified"]
	path = plugins/SealCertified
	url = https://github.com/EscolaDeSaudePublica/plugin-SealCertified
[submodule "plugins/EditRegistration"]
	path = plugins/EditRegistration
	url = https://github.com/EscolaDeSaudePublica/plugin-EditarInscricao.git
[submodule "core"]
	path = core
	url = https://github.com/EscolaDeSaudePublica/mapadasaude.git
